@page "/"
@using YetAnotherNoteSaver.Models

<PageTitle>YANS!</PageTitle>

<div class="contain">
@foreach (var item in notes)
{
        <NoteItem note="@item" OnEditItemCallback="@OpenEditModal" OnRemoveItemCallback="@RemoveNote"></NoteItem>
}
</div>


<div class="modal @modal.Class" tabindex="-1" role="dialog" style="display:@modal.Display; overflow-y: auto;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <input type="text" id="title" placeholder="Note Title" class="modal-title modal-inputs" @bind="@modal.Title" @oninput="@((e) => { modal.Title=(string)e.Value;})">
            </div>
            <div class="modal-body">
                <textarea class="modal-inputs" cols="30" rows="10" placeholder="Note Description" @bind="@modal.NoteDescription" @oninput="@((e) => { modal.NoteDescription=(string)e.Value;})"></textarea>
            </div>
            <div class="modal-footer">
                <div>
                    <button @onclick="CloseModal" type="button" class="btn btn-secondary mx-3">Cancel</button>
                    @if (modal.Edit == false)
                    {
                        <button @onclick="AddNoteItem" type="button" class="btn btn-primary">Submit</button>
                    
                    }else{
                        <button @onclick="EditNoteItem" type="button" class="btn btn-success">Save</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@if (modal.Backdrop)
{
        <div class="modal-backdrop fade show" style="z-index: 39;"></div>
}


<button class="float add-note" type="button" @onclick="OpenModal">
        <i class="fa-solid fa-plus"></i>
</button>

@code {
    // Todo- implement local storage
    public List<NoteModel> notes = new List<NoteModel>();
    private ModalModel modal = new ModalModel();
    private string[] colors = { "green", "brown", "purple", "blue", "yellow", "orange" };

   private void RemoveNote(Guid id)
    {
        for (int i = 0; i < notes.Count(); i++)
        {
            if (notes[i].Id == id)
             {
                notes.RemoveAt(i);
             }
        }
    }
   private void EditNoteItem()
    {
        foreach (var item in notes)
        {
            if (modal.Id == item.Id)
            {
                item.Title = modal.Title;
                item.NoteDescription = modal.NoteDescription;
                CloseModal();
            }
        }
    }
   private void OpenEditModal(Guid id)
    {
        foreach (var item in notes)
        {
            if (item.Id == id)
             {
                modal.Id = id;
                modal.Edit = true;
                modal.Title = item.Title;
                modal.NoteDescription = item.NoteDescription;
                OpenModal();
             }
        }
    }

    private void OpenModal(){
        modal.Open();
        StateHasChanged();
    }
    
    private void CloseModal(){
        modal.Close();
        modal = new ModalModel();
        StateHasChanged();
    }

    private void OpenModal(string title){
        modal.Open();
        StateHasChanged();
    }


    private void AddNoteItem(){
        NoteModel note = new NoteModel()
            {
            Id = Guid.NewGuid(),
            Title = modal.Title,
            NoteDescription = modal.NoteDescription,
            color = colors[Random.Shared.Next(0, colors.Length)]
        };
        notes.Add(note);
        CloseModal();
    }

    private void AddNoteItem(string title,string notedescription,string notecolor){
        NoteModel note = new NoteModel()
            {
            Title = title,
            NoteDescription = notedescription,
            color = notecolor
        };
        notes.Add(note);
        CloseModal();
    }
private readonly Random _random = new Random();  
public string RandomString(int size, bool lowerCase = false)  
{  
  var builder = new System.Text.StringBuilder(size);  
  char offset = lowerCase ? 'a' : 'A';  
  const int lettersOffset = 26;
  
  for (var i = 0; i < size; i++)  
  {  
   var @char = (char)_random.Next(offset, offset + lettersOffset);  
   builder.Append(@char);  
  }  
  
  return lowerCase ? builder.ToString().ToLower() : builder.ToString();  
}  

    protected override Task OnInitializedAsync()
    {
        
        for (int i = 0; i < 30; i++)
        {
                    NoteModel note = new NoteModel()
            {
            Id = Guid.NewGuid(),
            Title = $"My Sample Title No.{i}",
            NoteDescription = RandomString(Random.Shared.Next(20, 100)),
            color = colors[Random.Shared.Next(0, colors.Length)]
            
        };
        notes.Add(note);
        }
        return base.OnInitializedAsync();
    }

}